---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
// Thanks to https://twitter.com/twahlin and http://femmebot.github.io/google-type/ for the font pairing idea.

$base-font-family: Ovo, Times, serif;
$accent-font-family: Muli, Lato, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$post-title-size: 16px;
$splash-title-size: 2.5em;
$splash-font-size: 14px;
$base-line-height: 1.5;
$heading-font-color: #222;
$base-font-color: #444;
$light-font-color: lighten($base-font-color, 15%);
$link-font-color: desaturate(#2eccd1, 35%);
$page-width: 650px;

// Mixins

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bourbon/bourbon",
        "grid-settings",
        "neat/neat",
        "base",
        "layout-splash",
        "layout-page",
        "syntax-highlighting"
;
