<footer class="footer">
  <div class="container-fluid container-footer">
    <div class="row vertical-align">
      <div class="col-sm-5 col-sm-offset-1">
        <span>Contact me at <b>jason.j.won at gmail.com</b></span>
      </div>
      <div class="col-sm-4 col-sm-offset-1 sm-links">
        <span class="pull-right">
        <a target="_blank" href="http://github.com/jjwon">Github</a>
        <a target="_blank" href="http://linkedin.com/in/jjwon">Linkedin</a>
        <a target="_blank" href="http://twitter.com/jasonjwon">Twitter</a>
        <a target="_blank" href="http://instagram.com/jjwon0">Instagram</a>
        </span>
      </div>
    </div>
  </div>
</footer>