<header class="splash-header">
  <!-- <div class="splash-image-wrapper">
    <img class="splash-image" src="{{ "/img/pic.png" | prepend: site.baseurl }}">
  </div> -->
  <div class="splash-text-wrapper">
    <div class="splash-left">
      <h2 class="splash-text-title">Jason Won</h2>
      <p class="splash-text-sub">a pinch of this, a dash of that</p>
      <a href="mailto:jason.j.won@gmail.com"><i class="splash-icons fa fa-envelope-o"></i></a>
      <a href="https://github.com/jjwon/"><i class="splash-icons fa fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/jjwon"><i class="splash-icons fa fa-linkedin-square"></i></a>
      <a href="https://instagram.com/jjwon0"><i class="splash-icons fa fa-instagram"></i></a>
    </div>
    <div class="splash-middle">
      <p class="splash-text-desc">
        Hey! I'm a software engineer living in SF.  I recently graduated from UC Berkeley with a degree in EECS, and I love making things.
      </p>
    </div>
    <div class="splash-right">
      <p class="splash-text-desc">
        Currently, I'm building ETL pipelines at LinkedIn, playing guitar, and learning to boulder.  <a href="{{ "about" | prepend: site.baseurl }}">Read more...</a>
      </p>
    </div>
  </div>
  <div class="splash-spacer-bottom"></div>
  <hr />
</header>
