// General Styling

html, body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
}

h1, h2, h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-content {
  max-width: $content-width;
}

a {
  color: $brand-color-dark;
}

p {
  margin: 0 0 1rem;
}



// Footer

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10rem;
}

.footer {
  color: $background-color;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.container-footer {
  background-color: $grey-color-dark;
}

.footer-text {
  max-width: $content-width;
  margin: 0 auto;
}

.vertical-align {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer a, footer p, footer a:focus {
  color: $background-color;
  text-decoration: none;
}

footer:a:visited {
  color: $brand-color;
  text-decoration: none;
}

footer a:hover {
  color: $brand-color;
  text-decoration: none;
}

footer a:active {
  color: $brand-color;
  text-decoration: none;
}

.sm-links {
  word-spacing: 1rem;
}



// Comments or Feedback

.tweet-text {
  color: $grey-color;
}

.tweet-text a{
  color: $brand-color-darker;
}

// Index

.landing-text {
  margin-bottom: 2rem;
}



// Projects

.projects img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects h3 {
  margin-top: 3rem;
}



// Writing

.writing li {
  list-style-type: none;
}