.post-title {
  margin-top: em(-4px);
}

// page footer
.page-footer-wrap {
  @include outer-container;
  .page-footer {
    @include media($medium-viewport) {
      @include span-columns(4 of 4);
    }
    @include media($large-viewport) {
      @include span-columns(12 of 12);
    }
  }
}

.post {
  max-width: em($page-width);
  margin: 0 auto;
}
