html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: $main-font;
  line-height: 1.7;
  color: $text-color;
}

blockquote {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 5px solid $accent-color;
}

strong {
  color: $header-color;
}

main {
  @extend %centered;
  padding-bottom: 80px;
}

nav {
  @extend %centered;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
}

.header-links {
  list-style: none;
  padding: 0;

  .header-link {
    display: inline-block;
    padding-left: 2rem;

    &:first-child {
      padding-left: 0;
    }
  }
}

.header-link {
  display: inline-block;
}

%header {
  margin-top: 100px;
}

@media only screen and (max-width: 400px) {
  %header {
    margin-top: 40px;
  }
}

.default-header {
  @extend %header;
}

.home-page-header {
  @extend %header;
}
