// Colors
$text-color: #444444;
$header-color: #222222;
$base-accent-color: #1756E8;
$accent-color: lighten($base-accent-color, 10%);
$link-color: lighten($base-accent-color, 5%);

// Fonts
$main-font: 'Fira Sans', 'Helvetica', sans-serif;

// Abstract classes
%centered {
  padding: 0 10%;
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  %centered {
    padding: 0 5%;
  }
}

