<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <header class="home-page-header">
      <nav>
        <h1>{{ site.title | escape }}</h1>
        {% for page in site.pages %}
        {% if page.title %}
        <a href="{{ page.url | relative_url }}">
          {{ page.title | escape }}
        </a>
        {% endif %}
        {% endfor %}
      </nav>
    </header>

    <main>
      <div>
        <div>
          {% for post in site.posts %}
            <h2>
              <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h2>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
